body {
    font-family: Arial, sans-serif;
    background-color: #f0f3f4;
    margin: 0;
    padding: 0;
}

/* Banner Gallery */
.banner-gallery {
    padding-top: 150px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f3f4;
}

.banner-gallery img {
    max-width: 86%;
    border-radius: 10px;
    width: 1700px;
    height: auto;
    object-fit: cover;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f0f3f4;
    gap: 20px !important;
    margin-bottom: 50px !important;
}

.project-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 720px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.project-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.project-info {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title-tag-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.5em;
    margin: 0;
}

.project-tag {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    text-align: center;
}

.project-description {
    font-size: 1em;
    color: #666;
    margin: 0 0 15px 0;
    flex: 1;
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

.project-button {
    background-color: #e6bb2d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.project-button:hover {
    background-color: transparent;
    color: #e6bb2d;
    border: 0.1px solid #e6bb2d;
    border-color: #ffba43;
}

@media (max-width: 2090px) { /*temporário até resolver o bug*/
    .project-button {
        display: none;

    }